table {
    width: 100%;
    border-collapse: collapse;
} 
th, td {
    border: 1px solid black;
    padding: 8px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.overlay-content {
    background-color: white;
    padding: 16px;
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
} 
.product{
    cursor: pointer;
}
.lightmode {
    background-color: #fff;
    color: #000;
} 
.darkmode{
    
    background-color: #000;
    color: #fff;
}  
body{
    margin: 0;

}

